--extra-index-url https://download.pytorch.org/whl/cu116
torch
--extra-index-url https://download.pytorch.org/whl/cu116
torchvision
--extra-index-url https://download.pytorch.org/whl/cu116
torchaudio

# Swin Transformer
timm==0.4.12
opencv-python-headless<4.3
termcolor==1.1.0
yacs==0.1.8

# QD Track
lvis
motmetrics
numpy
pycocotools
mmcv-full==1.6.1
mmdet==2.25.1
seaborn==0.12.0
git+https://github.com/bdd100k/bdd100k.git
